<div class="card col-4">
  <img src="https://backtest.achilleseg.com/{{data.default_images}}" class="card-img-top img-fluid">
  <div class="card-body">
    <h5 class="card-title">{{data.products_name}}</h5>
    <p class="card-text"><del>{{data.products_price}}</del>  - {{data.product_price_discount}}% - {{data.final}}</p>
    <a href="/{{data.products_id}}" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
